<h1>You are successfully Logged in</h1></center>

<center> 
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Email</th> 
    <th>Department</th>
  </tr>
  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.email %></td> 
    <td><%= @user.dept %></td>
  </tr>
</center>