<br>
<br>
<h1 style="text-align:center">All your awesome submissions.</h1>
<br>

<% eachone = Array.new %>
<% eachone= @all_submission.ids %>

<br>
<br>
<% eachone.each do |a| %>
    <div class="col-sm-5 submission_card" style="height:160px; width:160px">
  


        <p style="text-align:center">
            <% if (@all_submission.find(a).images.first && @all_submission.find(a).tags.first)  %>
            <%= link_to(image_tag(@all_submission.find(a).images.first.image(:small)), upload_path(a) ) %></p>
            <%= @all_submission.find(a).tags.first.tagname %> <br>
            <font size="1">
            Created at : <%= @all_submission.find(a).created_at.to_date %>
            </font>
            <% end %>

    
    </div>
<% end %>