<html lang="en">
    
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
   <br>
   <br>
    
        <div class="col-lg-9">
            <h1 align="center">Share your awesome images !</h1>
    
        <br>
        <div id="content">
            <%= form_for @upload, html: { multipart: true, class: "dropzone", id: "my-dropzone" } do |f| %>
            
                <div class="dz-message needsclick">
                    <h3> Drop microstructure(s) here</h3> 
                    or <strong>Click</strong> to upload
                </div>
                    
            
                <div class="fallback">
                    <%= f.file_field :image %>
                    <!%= f.submit "Upload the image" %>
                </div>
            <% end %>
            </div>
        <br>
        <br>
        
       
        <div class="container">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-lg-1" for="tag" align="left">Tags:</label>
              <div class="col-lg-2">
                <input type="tag" class="form-control" id="tag" placeholder="Enter a tag"></input>
              </div>
              <div class="col-lg-2">
                <input type="tag" class="form-control" id="tag" placeholder="Enter a tag"></input>
              </div>
             <div><span class="glyphicon glyphicon-plus-sign"></span></div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-1" for="description">Description:</label>
              <div class="col-lg-7">
                <textarea type="desc" class="form-control" id="desc" placeholder="Enter description of microstructure(s)" rows=5></textarea>
              </div>
              
            </div>
            <div class="form-group">
              <label class="control-label col-lg-1" for="url">URL:</label>
              <div class="col-lg-7">
                <input type="url" class="form-control" id="url" placeholder="Enter link to research"></input>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-1 col-lg-4">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
        </div>

        </div>
       </div>
     </div>
</body>
    
    
</html>