<br>
<br><br>
<br><br>
<br><br>
<br>
<div class="fallback">
<form id="new_upload", class="dropzone">
  <div class="dz-preview"></div>  <!-- this is were the previews should be shown. -->

  <!-- Now setup your input fields -->
  <input type="text" name="upload[tags_attributes][0][tagname]" id="upload_tags_attributes_0_tagname" />
  <input type="text" name="upload[tags_attributes][1][tagname]" id="upload_tags_attributes_1_tagname" />

  <button type="submit">Submit data and files!</button>
</form>
<div>