<br>
<br>
<br>
<h1 style="text-align:center">Your collaborators have shared these !</h1>

<br>
<br>
<br>

    <% if @shared.nil? %>
        <h3> There are no images shared with you! </h3>
    <% else %>
       
        <% @shared.each do |a|%>
            <div class="col-sm-5 submission_card"  style="height:200px; width:200px">        
                <% user = Upload.find(a).user_id %>
                    
                    <div style="text-align:center">
                        <%= link_to(image_tag(Upload.find(a).images.first.image(:small)), upload_path(a) ) %>
                    </div>
                    <%= Upload.find(a).tags.first.tagname %> <br>
                    <font size="1">
                    Shared by: <br>
                    <%= User.find(user).email %>
                    </font>
            </div>
            
        <% end %>
    <% end %>