
    <!--<div class="container-fluid"  style="padding-left: 0px; padding-right: 110px; float:left">-->
      <div id="sidebar" class="row" style="float:left; height:100%; width: 230px; text-align:center">
        <nav class="col-lg-3" style="width: 230px; margin-top: 30px">
            <ul class="nav nav-pills nav-stacked"  data-offset-top="0">
            <li><%= link_to "New Submission",   new_upload_path %></li>
            <li><%= link_to "My Submission",   uploads_mysubmission_path %></li>
            <li><%= link_to "Shared with me",   uploads_sharedtome_path %></li>
            <li><%= link_to "Search Microgram", '#' %></li>
            </ul>
        </nav>
      </div>
    <!--</div>-->




